
  <%= form_tag contacts_path, method: :get, class: 'something' do %>
    <div class="input-group add-on">
      <%= text_field_tag :search, "", class: 'form-control'  %>
      <div class="input-group-btn">

        <%= button_tag(type: 'submit', class: "btn btn-default") do %>
         <span class="icon-envelope"></span> Search
        <% end %>
      </div>
    </div>
  <% end %>

<%= form_for @category do |f| %>
  <%= f.text_field :title %>
  <%= f.submit %>
  <% end %>
  -------------------------  <br>
  <% @categories.each do |cat| %>
    <%= cat.title %> <br>
<% end %>
  ---------------------
  <br>
<% @contacts.each do |contact| %>
  <%= contact.number %>
  <br>
  <%= contact.body %>
  <% end %>
